@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: 0;
  padding: 0;
  font-family: 'K2D', 'Regular';
}
a{
  color: #005b88  !important;
  font-weight: 700;
  text-decoration:none  !important;
}
input[type="radio"] {
  display: none;
}
header {
  background-color: #101820;
  border-bottom: #0A0F14 solid 10px;
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
footer {
  background-color: #101820;
  border-left: #a5bacf double 100px;
  border-right: #a5bacf double 100px;
  border-top: #3f5b78  10px;
  width: 1076.400px;
  height: 145px;
}
main {
  background-color: #a5bacf;
  border-left: #101820 double 100px;
  border-right: #101820 double 100px;
}
ul li {
  display: inline;
  font-size: 20px;
  margin: 10px;
}
.linkheader-color li a {
  color: #a5bacf  !important;
}
.logo-header {
  width: 169px;
  height: 68px;
  margin-top: 10px;
}
.logo-footer {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}
.left-footer{
  width: 250px;
  margin-left: 5px;
}
.left-footer li a img {
  width: 50px;
  height: 50px;
}
.center li a img {
  width: 50px;
  height: 50px;
}
.right-footer {
  width: 230px;
}
.right-footer img {
  width: 50px;
  height: 50px;
}
.h2-index{
  font-weight: 400;
  font-size: 25px;
}
.center{
  text-align: center;
}
.italic{
  font-style: italic;
}
.inline{
  display: inline;
}
.block{
  display: block;
}
.inline-block {
  display: inline-block;
}
.quienesomos {
 width: 400px;
 height: 180px;
}
.right-text {
  text-align: right;
}
.material-directo {
  width: 239px;
  height: 134px;
}
.negrita {
  color: #005b88;
  font-weight: 700;
}
.titulo2 {
  font-size: 60px;
  padding-top: 40px;
  margin-left: 25px;
  border-bottom: #101820 solid;
  width: 400px;
}
.titulosmateriales {
  border-top: #0A0F14 solid;
  padding-top: 5px;
  margin-bottom: 5px;
}
.inputs1 {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 4px;
  margin-bottom: 10px;
  margin-left: 25px;
  border: #101820 double;
}
.enviaresetear1 {
  padding-right: 4px;
}
.labels1 {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 4px;
  margin-bottom: 10px;
  margin-left: 25px;
  border: #101820 double;
}
.left-text {
  text-align: left;
}
.inputreset2 {
  padding-right: 4px;
}
.puntajematerial input[type=radio] {
  display: none;
}
.puntajematerial label {
  color: grey;
}
.puntajematerial {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.puntajematerial label:hover, label:hover ~ label {
  color: #005b88;
}
.puntajematerial input[type="radio"]:checked ~ label {
  color: #005b88;
}
.divlogo{
  min-height: 20px;
}
#volver1 {
  font-weight:900;
  font-size: 50px;
  vertical-align: top;
  width: 300px;
  margin-left: 55px;
  margin-right: 15px;
  padding-top: 70px;
}
#yo-foto {
  width:425px;
  height:425px;
}
#p1 {
  width: 400px;
  margin: 20px;
}
#profeavatar {
  width: 200px;
  height: 200px;
}
#uniteprincipal {
  border: black solid 1px;
  margin-left: 34px;
}
#p2 {
  width: 650px;
  margin-top: 10px;
  margin-left: 100px;
}
#mapa {
  margin-bottom: 15px;
  margin-left: 300px;
  border-top: #101820 solid 3px;
  border-bottom: #101820 solid 3px;
}
#p3 {
  width: 537px;
  padding-left: 20px;
}
#materiales {
  width: 800px;
  padding-left: 50px;
  margin-bottom: 30px;
}
#h2ejemplos {
  width: 280px;
  font-size: 30px;
  margin-left: 20px;
  vertical-align: top;
  margin-top: 10px;
}
#ultimovideo {
  width: 525px;
  height: 300px;
  margin-left: 20px;
  padding-top: 15px;
}
#materialsecciones {
  margin: 20px;
}
#materialsecciones article iframe {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 150px;
  border-top: #3f5b78 solid 5px;
}
#h4ejemplos {
  height: 46px;
  vertical-align: top;
}
#nombreyapellido {
  padding-right: 225px;
  margin-top: 10px;
}
#mensaje1 {
  padding-right: 225px;
  padding-bottom: 100px;

}
#telefono1 {
  margin-left: 45px;
}
#asidecontact {
  vertical-align: top;
  margin-left: 35px;
  font-size: 19px;
}
#h2c {
  margin-left: 10px;
}
#tuprofemain {
  background-image: url(../multimedia/Proximamentefoto2.png);
  background-size: 880px 600px;
  height: 450px;
  background-repeat: no-repeat;
  border-left-color: #101820;
  border-right-color: #101820;
}
#volver3 {
  font-size: 70px;
  font-weight: 300;
  width: 500px;
  margin-left: 40px;
  padding-top: 100px;
  border-bottom: #0A0F14 solid 2px;
}
#ptuprofesor {
  overflow-y: scroll;
  margin-left: 40px;
  margin-top: 10px;
  width: 500px;
  height: 150px;
  font-size: 14px;
}
#formx div label {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 4px;
  margin-top: 10px;
  margin-left: 25px;
}
#reset2 {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 4px;
  margin-bottom: 10px;
  margin-left: 25px;
  border: #101820 double;
}  
#nivel {
  padding-right: 22px;
}
#formato {
  padding-right: 82px;
}
#volver2 {
  font-size: 64px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: #101820 solid;
}
#listavalor1 li {
  margin-right: 150px;
  font-size: 25px;
}
#listavalor1 {
  list-style-type: circle;
 
}
#listavalor2 li {
  margin-left: 150px;
  font-size: 25px;
}
#listavalor2 {
  list-style-type: circle;
}
#videounirse {
  width: 400px;
  height: 200px;
  border-top: #005b88 solid 5px;
}